@import '../../styles/variables.scss';

.header {
	width: 100%;
	border-bottom: 1px solid #F3F3F5;
	padding: 8px 0;
	position: relative;
	z-index: 9;
	@media screen and ( max-width: $media ) {
		border-bottom: none;
		padding: 0;
		margin-bottom: 22px;
	}
	&__box {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		@media screen and ( max-width: $media ) {
			flex-direction: column;
		}
	}
}