.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	width: 304px;
	margin-right: 32px;
	&__text {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.16;
		letter-spacing: -0.6px;
	}
}